version: 1.2
author: Jefim
description: Пример модели данных для Data Flow Visualizer
nodes:
- name: Catalog_input
  layer: '11111'
  type: ваввв
  comment: Основной справочник материалов и узлов для проекта.
  columns:
  - comment: ngcjghc
    description: TEXT
    name2: Код монтажной зоны
    type: '1'
    пва: ''
    test1: ''
    test2: ''
    test3: ''
    test4: ''
    test5: ''
    test6: ''
    test7: ''
    test8: ''
    test9: ''
  - comment: '3'
    description: Number10
    name2: Тип материала
    type: '1'
    пва: ''
    test1: ''
    test2: ''
    test3: g
    test4: ''
    test5: ''
    test6: ''
    test7: ''
    test8: ''
    test9: ''
  - comment: ggg
    description: TEXT
    name2: Поставщик
    type: '2'
    пва: ''
    test1: ''
    test2: ''
    test3: ''
    test4: ''
    test5: ''
    test6: ''
    test7: ''
    test8: ''
    test9: ''
  - comment: '5'
    description: ''
    name2: ''
    type: '2'
    пва: ''
    test1: ''
    test2: ''
    test3: ''
    test4: ''
    test5: ''
    test6: ''
    test7: ''
    test8: ''
    test9: ''
  - comment: чапрпачр
    description: чапр
    name2: ачрр
    type: dgdf
    пва: ''
    test1: ''
    test2: ''
    test3: ''
    test4: ''
    test5: ''
    test6: ''
    test7: ''
    test8: ''
    test9: ''
  - comment: чапрчар
    description: ''
    name2: апр
    type: ''
    пва: ''
    test1: ''
    test2: ''
    test3: ''
    test4: ''
    test5: ''
    test6: ''
    test7: ''
    test8: ''
    test9: ''
  - comment: ''
    description: ''
    name2: пррп
    type: ''
    пва: ''
    test1: ''
    test2: ''
    test3: ''
    test4: ''
    test5: ''
    test6: g
    test7: ''
    test8: ''
    test9: g
  - comment: ''
    description: ''
    name2: прп
    type: ''
    пва: ''
    test1: ''
    test2: ''
    test3: ''
    test4: ''
    test5: ''
    test6: ''
    test7: ''
    test8: ''
    test9: ''
- name: Saved_progress
  layer: SharePoint
  type: Excel
  comment: Статусы выполнения работ по сборочным зонам.
  columns:
  - name: LOT
    type: TEXT
    description: Код сборочной партии
    comment: Связан с Catalog_input.LOT
  - name: Progress_Status
    type: TEXT
    description: Статус выполнения
    comment: 'Например: ''In progress'', ''Done'''
  - name: Updated_On
    type: DATE
    description: Дата обновления статуса
    comment: Автоматически из SharePoint
- name: Work_Hours
  layer: SharePoint
  type: Excel
  comment: Учёт рабочих часов по LOT и зонам.
  columns:
  - name: LOT4
    type: TEXT
    description: Идентификатор партии
    comment: Ключ для объединения
  - name: Employee_ID
    type: TEXT
    description: Код работника
    comment: Уникальный идентификатор сотрудника
  - name: Hours
    type: FLOAT
    description: Количество часов
    comment: Указывается вручную или из WMS
  - name: Updated_On
    type: DATE
    description: Дата учёта
    comment: Дата фиксации рабочих часов
- name: Merged_Spool_Data
  layer: PowerQuery
  type: Table2
  comment: Объединённая таблица с материалами, статусами и часами.
  columns:
  - name: LOT
    type: TEXT
    description: Ключ LOT
    comment: Импортировано из Catalog_input
  - name: MFZ
    type: TEXT
    description: Код сборочной зоны
    comment: Импортировано из Catalog_input
  - name: Progress_Status
    type: TEXT
    description: Статус выполнения
    comment: Из Saved_progress
  - name: Hours
    type: FLOAT
    description: Фактическое количество часов
    comment: Из Work_Hours
  - name: Weight
    type: FLOAT
    description: Вес сборки
    comment: Вычисляется автоматически в PQ
  - name: 1
    type: ''
    description: ''
    comment: ''
  - name: 2
    type: ''
    description: ''
    comment: ''
  - name: 3
    type: ''
    description: ''
    comment: ''
  - name: 4
    type: ''
    description: ''
    comment: ''
- name: Transfer_Orders
  layer: Output
  type: Report
  comment: Финальный отчёт с данными о партиях, статусах и трудозатратах.
  columns:
  - name: LOT
    type: TEXT
    description: Ключ сборки
    comment: Из Merged_Spool_Data.LOT
  - name: Warehouse
    type: TEXT
    description: Склад
    comment: Заполняется вручную
  - name: Progress_Status
    type: TEXT
    description: Статус
    comment: Из Saved_progress
  - name: Total_Hours
    type: FLOAT
    description: Общее количество часов
    comment: Агрегируется из Work_Hours
  - name: Weight
    type: FLOAT
    description: Вес
    comment: Из Merged_Spool_Data.Weight
edges:
- from: Catalog_input
  to: Merged_Spool_Data
  transfer_type: pq
  data_type: materials
  transfer:
  - - LOT
    - LOT → Merged_Spool_Data.LOT
  - - MFZ
    - MFZ → Merged_Spool_Data.MFZ
- from: Saved_progress
  to: Merged_Spool_Data
  transfer_type: pq
  data_type: progress
  transfer:
  - - Progress_Status
    - Progress_Status → Merged_Spool_Data.Progress_Status
- from: Work_Hours
  to: Merged_Spool_Data
  transfer_type: pq
  data_type: hours
  transfer:
  - - LOT
    - LOT → Merged_Spool_Data.LOT
  - - Hours
    - Hours → Merged_Spool_Data.Hours
- from: Merged_Spool_Data
  to: Transfer_Orders
  transfer_type: manual
  data_type: cost
  transfer:
  - - LOT
    - LOT → Transfer_Orders.LOT
  - - Warehouse
    - Warehouse → Transfer_Orders.Warehouse
- from: Saved_progress
  to: Transfer_Orders
  transfer_type: planned
  data_type: documents
  transfer:
  - - Progress_Status
    - Progress_Status → Transfer_Orders.Progress_Status
- from: Work_Hours
  to: Transfer_Orders
  transfer_type: pq
  data_type: workers
  transfer:
  - - Employee_ID
    - Employee_ID → Transfer_Orders.Total_Hours
